accelerate==0.21.0
datasets==2.14.4
flash-attn==2.0.9
huggingface-hub==0.16.4
llvmlite==0.38.0
numpy==1.25.2
plotly==5.7.0
pytorch-lightning==2.0.7
sentencepiece==0.1.99
tensorboard==2.8.0
torch==2.0.1
torchmetrics==0.11.3
torchvision==0.15.2
torchviz==0.0.2
transformers==4.32.0
triton==2.0.0
wandb==0.13.10
xformers==0.0.21